{% extends "layout.html" %}

{% set active_page = "Ages" %}

{% block title %}Ages{% endblock %}

{% block content %}
<head><title>Cancer Data</title>
    <!--header("Set-Cookie: cross-site-cookie=whatever; SameSite=None; Secure");-->
    </head>
    <body>
    
        <h1>Cancer Data</h1>
            <p>
                Here
            </p>
<form>
  <label for="states">Choose a state: 
</label>
  <input list="state" name="state" id="states">
    <datalist id="state">
      {{ages_dropdown}}
    </datalist>
  <br><br>
  <input type="submit" value="Show Data">
</form>
                  
              <script>
                window.onload = function () {
     
     var chart = new CanvasJS.Chart("chartContainer", {
       animationEnabled: true,
       theme: "light2", // "light1", "light2", "dark1", "dark2"
       title: {
         text: "Cancer Death Totals by State 2007-2013"
       },
       axisY: {
         title: "Total Number (in People)",
         suffix: " People"
       },
       axisX: {
         title: "States"
       },
       data: [{
         type: "column",
         //yValueFormatString: "#,##0.0#\"%\"",
         dataPoints: [
           {{ages}}
           
         ]
       }]
     });
     chart.render();
      
     }
              </script>
    {%if ages%}<!--If ages is defined-->
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    {%endif%}
    
    
    
    </body>
{% endblock %}