
<!DOCTYPE html>
<html>
  <head><title>Cancer Data</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
  <head>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="data.html">Data</a>
          </li>
        </ul>
      </nav>
  </head>
<body>
    <h1>What is cancer?</h1>
        <p>
            Cancer is a disease in which body tissue is destroyed by abnnormal cells dividing uncontrollably. This is very dangerous, especially if it is not treated in the beginning stages.
        </p>
    <h1>What causes cancer?</h1>
        <p>
            Some cancers are provoked by humans (e.g. if someone smokes, they make themselves more prone to developing lung cancer). However, some cancers are genetically inherited, and it is hard to tell whether or not a person will develop some type of cancer or not. Recently, a new technology that "unravels" DNA can show all the possible diseases or illnesses a person may develop. It could provide us humans with tools/methods to prevent it and/or mentally prepare. This, however, is very costly and a lot of them do not end up developing.
        </p>
    <h1>Is cancer preventable?</h1>
        <p>
            Refraining from some habits can decrease the likelihood of developing a cancer (e.g. not smoking can help diminish the probability of developing lung cancer), but that does not fully prevent a cancer. kucancercenter.org states: "No cancer is 100% preventable. However, managing certain controllable risk factors - such as your diet, physical activity and other lifestyle choices - can lower you chances of developing cancer."
        </p>
    <h1>What cancer treatments are available?</h1>
        <p>
            Currently, the three (3) most common treatments are surgery, chemotherapy, and radiation; though there are other options as well.
        </p>
    <h1>Why is cancer data so important?</h1>
        <p>
            Cancer is so important to know about because it can help us get a better understanding of how common cancer is nation-wide. It also possible to see how common and the death rate state-wide. The data includes how common cancer is based on demographics as well. And not only does this focus on cancer in general, it also focuses on three (3) specific cancers: breast cancer, colorectal cancer, and lung cancer.
        </p>
    <h1>Why is cancer data so important?</h1>
        <p>
            Cancer is so important to know about because it can help us get a better understanding of how common cancer is nation-wide. It also possible to see how common and the death rate state-wide. The data includes how common cancer is based on demographics as well. And not only does this focus on cancer in general, it also focuses on three (3) specific cancers: breast cancer, colorectal cancer, and lung cancer.
        </p>
    <h1>Why is the death rate per 100,000 population?</h1>
        <p>
            It is a ratio that is easy to work with and compare to other states. For example, 37 cancer deaths in California means it is less common than 37 cancer deaths in Wyoming because California is much more populated than Wyoming.
        </p>
    <h1>What was the most common type of cancer in 2007? In 2013?</h1>
        <p>
            The most common types of cancers among survivors in 2007 were breast, prostate, and colorectal cancers. (Source). In 2013, the most common type of cancer among men (assuming sex at birth) was prostate cancer and breast cancer among women (assuming sex at birth). (Source)
        </p>


</body>
</html>